<div class="container">
    <div class="row">

        <div class="col-2">
            <h5>Código do Produto</h5>
            <p>{{produto.cod}}</p>
        </div>

        <div class="col-2">
            <h5>Descrição do Produto</h5>
            <p>{{produto.desc}}</p>
        </div>

        <div class="col-2">
            <h5>Registro da Anvisa</h5>
            <p>{{produto.regAnvisa}}</p>
        </div>

        <div class="col-2">
            <h5>Produto Controlado</h5>
            <p>{{produto.controlado}}</p>
        </div>

        <div class="col-2">
            <h5>Código do Grupo</h5>
            <p>{{produto.cod_grupo}}</p>
        </div>

    </div>
</div>